* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.graybg {
    width: 31vw;
    height: 83px;
    background-color: #dcdce5;
}

.right {
    text-align: right;
}

.img {
    height: 30vh;
    /* width: 70vw; */
    background: url(img/Group1.png) no-repeat center/contain;
}

.tac {
    text-align: center;
}

.tac p,
h2 {
    font-family: "Arial";

}

.tac h2 {
    font-size: 14px;
    line-height: 1.3em;
}

.tac p {
    font-size: 13px;
    line-height: 1.4em;
    color: #666666;
}

.width {
    width: 33%;
}

.tac {
    
}